- if !user_signed_in?
  .jumbotron
    %h1 Your favourite movie revied
    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
    %p= link_to 'Sign up to Write Review', new_user_registration_path, class: "btn btn-primary btn-lg"

.row
  - @movies.each do |movie|
    .col-sm-6.col-md-3
      = link_to (image_tag movie.avatar.url(:medium), class: 'image'), movie
